// Buttons
/* ------------------------------------- */

.btn {
  @include paragraph-style-2;

  font-family: $font-primary;
  display: inline-flex;
  align-items: center;
  padding: 5px 12px;
  color: $navy;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e2e2e0;
  border-radius: 4px;

  &--read {
    svg {
      width: 18px;
    }
  }

  svg {
    width: 20px;
    fill: $navy;
    margin-right: 8px;
  }
}