img {
  width: 100%;
}

.object-cover {
  object-fit: cover;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 20px;
  font-family: $font-primary;
  font-size: rem-calc(14px);
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  border-radius: 10px;
}
